
.row
	.row.center.main
		h2 ЗИОН
		.row.placeimg
			img(src="/img/city.png").img-responsive
		h3 Сражения
		.row.battle.city
			.col-md-4.col-xs-4.btn_parent
				button(type="button").btn.btn-lg.btn-block.mybtn Локации
			.col-md-4.col-xs-4.btn_parent
				button(type="button").btn.btn-lg.btn-block.mybtn Арена
			.col-md-4.col-xs-4.btn_parent
				button(type="button").btn.btn-lg.btn-block.mybtn Арена
		h3 Город
		.row.city
			.col-md-4.col-xs-4.btn_parent
				button(type="button").btn.btn-lg.btn-block.mybtn Старейшина
			.col-md-4.col-xs-4.btn_parent
				button(type="button" disabled="disabled").btn.btn-lg.btn-block.mybtn Торговец
			.col-md-4.col-xs-4.btn_parent
				button(type="button").btn.btn-lg.btn-block.mybtn Искатель
		.row.city
			.col-md-4.col-xs-4.btn_parent
				button(type="button" disabled="disabled").btn.btn-lg.btn-block.mybtn Кузнец
			.col-md-4.col-xs-4.btn_parent
				button(type="button").btn.btn-lg.btn-block.mybtn Портной
			.col-md-4.col-xs-4.btn_parent
				button(type="button").btn.btn-lg.btn-block.mybtn Ремесленник