extends layout

block content	
	div
		h1 Вход в игру:
		label Login
		input#enter_login(type='text' placeholder='Введите логин')
		br
		label Password
		input#enter_password(type='password' placeholder='Пароль')
		br
		button(id="but_log" type='submit') Вход
		a(href='/reg' role='botton') Регистрация
