extends layout

block content
	.row
		.row.center.main
			img(src="/img/main_logo.png")
		.row.main.block_zero.center
			p.center Мир Лигмара бьется в предсмертной агонии. Присоединяйся к борьбе остатков человечества за выживание в этом фэнтезийном мире, пережившем апокалипсис. Стань свидетелем Конца... Или же построй Новое Начало!
		.row.center.main.mini-line
			.alert.alert-danger.hide#error_alert(style='padding: 0px; font-weight: bold;')
			h2(style='color:#C6C6C6') Вход в игру
			.row
				.col-sm-6.form-group
					.input-group
						.input-group-addon Логин
						input.form-control#enter_login(placeholder='Введите логин' type='text')
						span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
				.col-sm-6.form-group
					.input-group
						.input-group-addon Пароль 
						input.form-control#enter_password(placeholder='Введите пароль' type='password' maxlength='20')
						span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
			.btn-group
				button#but_log(type="button" data-loading-text="Загрузка..." class="btn btn-primary btn-lg") Вход 
				a#but_reg_begin(href="/reg" class="btn btn-primary btn-lg" role="button") Регистрация
		.row.center.main
			p
				a(style='color:#ADDC9A;' href='#') Забыли пароль?
			
	