extends layout

block test
h1.ogon.crasota#joke(href="asdf" type="adf" asdf="2354") Ligmar - best game in the WORLD!!!!
h3 #{login}

block content	
	div
		h1 Вход в игру:
		label Login
		input(type='text' placeholder='Введите логин' name='login')
		br
		label Password
		input(type='password' placeholder='Пароль' name='pass')
		br
		button(id="but_log" type='submit') Вход
		a(href='/reg' role='botton') Регистрация
