extends layout


//- block login

block test
h1.ogon.crasota#joke(href="asdf" type="adf" asdf="2354") Ligmar - best game in the WORLD!!!!
h3 #{login}

block login	
	div
		div
			h1 Вход в игру:
				label Login
				input#inputLogin(type='text' placeholder='Введите логин' name='login')
				br
				label Password
				input#inputPassword(type='password' placeholder='Пароль' name='pass')
				br
				button(type='submit') Вход
				a(href='/reg' role='botton') Регистрация

				