extends layout

block content
	div
		h1.ogon.crasota#joke(href="asdf" type="adf" asdf="2354") Ligmar - best game in the WORLD!!!!
	.pidor.eda.ogurec.krahmal
		h3 #{login}

block content_2
	div(class="hui")
		h4 LLDLDLDDLDL    
