doctype html
html
	head
		title Ligmar - best game in the WORLD!!!!
		link(rel="icon" type="image/x-icon" href="favicon.ico")
		link(href='css/bootstrap.css' rel='stylesheet')
		link(rel='stylesheet' href='css/login.css')
		script(src='js/jquery-2.1.4.js' type='text/javascript')
		script(src='js/bootstrap.min.js' type='text/javascript')
		script(src='js/login.js' type='text/javascript')
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		block content
		.row
			.row.main.center
				.mini-line
					p
						| Ligmar (c) 2015  Overmobile, 16+
						br
						a(style='color:#ADDC9A;' href='#') Соглашение | 
						a(style='color:#ADDC9A;' href='#') Контакты



