doctype html
html
	head
		title Ligmar - best game in the WORLD!!!!
		link(rel="icon", type="image/x-icon", href="favicon.ico")
		link(rel='stylesheet', href='css/main.css')
	body


		block login		


//- '/auth'
