doctype html
html
	head
		title Ligmar
		script(src='js/jquery-2.1.4.js' type='type="text/javascript')
		script(src='js/login.js' type='type="text/javascript')
		link(rel='stylesheet' href='css/main.css')


	body


		block content		

