doctype html
html
	head
		title Ligmar - best game in the WORLD!!!!
		link(rel="icon" type="image/x-icon" href="favicon.ico")
		link(href='css/normalize.css' rel='stylesheet' media='screen')
		link(href='css/foundation.min.css' rel='stylesheet' media='screen')
		link(rel='stylesheet' href='css/main.css')
		script(src='js/vendor/jquery.js' type='text/javascript')
		script(src='js/foundation/foundation.js' type='text/javascript')
		script(src='js/foundation/foundation.abide.js' type='text/javascript')
		script(src='js/login.js' type='text/javascript')
	
	body
		block content	
	


