doctype html
html
	head
		title Ligmar - best game in the WORLD!!!!
		link(rel="icon", type="image/x-icon", href="favicon.ico")
		link(rel='stylesheet', href='css/main.css')
		scipt(scr='js/jquery-2.1.4.js' type='text/javascript')
		scipt(scr='js/login.js' type='text/javascript')	
	body


		block login		


//- '/auth'
