extends layout

block content
	.row
		.row.center.main
			img(src="/img/main_logo.png")
		.row.main.block_zero.center
			p.center Эксперименты конклава магов Старого Света привели к масштабной катастрофе, запечатленной в истории как Великий Катаклизм. Под воздействием высвободившегося из под контроля исследователей неизведанного вида магической энергии, мир, каким мы его знали был уничтожен. Все что от него осталось - выжженные до тла, населенные мерзкими тварями пустоши…
		.row.center.main
			.mini-line
				.alert.alert-danger.hide#error_alert(style='padding: 0px; font-weight: bold;')
				h2(style='color:#C6C6C6') Регистрация
				.row
					.col-sm-12.form-group
						.input-group
							.input-group-addon Логин
							input.form-control#reg_log(placeholder='Введите логин' type='text' maxlength='16')
							span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
						.alert.alert-danger.hide#error_login_alert(style='padding: 0px; margin: 0 auto; width: 90%') Неверный формат (4-16 символов)
					.col-sm-12.form-group
						.input-group
							.input-group-addon Email 
							input.form-control#reg_email(placeholder='example@mail.com' type='email')
							span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
						.alert.alert-danger.hide#error_email_alert(style='padding: 0px; margin: 0 auto; width: 90%') Неверный формат Email			
					.col-sm-12.form-group
						.input-group
							.input-group-addon Пароль 
							input.form-control#reg_pas_1(placeholder='Введите пароль' type='password' maxlength='20')
							span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
						.alert.alert-danger.hide#error_password_alert_1(style='padding: 0px; margin: 0 auto; width: 90%') Неверный формат (6-20 символов)
					.col-sm-12.form-group
						.input-group 
							.input-group-addon Пароль
							input.form-control#reg_pas_2(placeholder='Повторите пароль' type='password' maxlength='20')
							span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
						.alert.alert-danger.hide#error_password_alert_2(style='padding: 0px; margin: 0 auto; width: 90%') Пароли не совпадают
					.col-sm-12.form-group
						div#captcha_container(style='margin: 0 auto; width: 304px;')
				button#but_reg_end(class="btn btn-primary btn-lg" data-loading-text="Регистрация..." type="button") Регистрация
			br

