doctype html
	head
		title ligmar
		link(rel='stylesheet' href='css/main.css')

	body
		div
			h1 Регистрация:
				label Login
				input(type='text' placeholder='Введите логин' name='login' required='')
				label Password
				input(type='password' placeholder='Пароль' name='pass' required='')
				span Пароль должен содержать не менее 6 символов
				label Password
				input(type='password' placeholder='Повторите пароль' required='')
				span Используйте надежный пароль
				label Email
				input(type='email' placeholder='Email' name='email' required='')
				span Введите email для востановления пароля
				select(name='class' required='')
				span Выберите класс персонажа
				select(name='gender' required='')
					option(value='Мужской') Мужской
					option(value='Женский') Женский
				span Выберите пол персонажа
				button(type='submit') Регистрация