img{
	max-width: 100%;
	height: auto;
}

p{
	margin: 5px 0;
}

body {
background-color: #303030;
color: #FFF;
margin: 0 auto;
width: 700px;
max-width: 100%;
}

.center {
text-align: center;
}

.mini-line {
border: 0;
border-top: #3e3d36 solid 2px;
margin: 0;
padding: 0;
}

.main {
background-color: #212121;
background-image: url(/img/bg.png);
}

.separ {
border: 0;
max-width: 50%;
border-bottom: #3e3d36 solid 1px;
border-top: #1f1f1a solid 1px;
margin: 5px auto;
padding: 0;
}

.block_zero {
padding: 5px;
}


.row{
	margin-right: 0px; 
    margin-left: 0px; 
}


.input-group{
	margin: 0 auto; 
	width: 90%
}

.input-group-addon{

	width:28%
}