h2.login
{
color: #C6C6C6;
}

a.login{
color:#ADDC9A;
}

body {
background-color: #303030;
color: #FFF;
}
/*
#myForm{
max-width:850px;
margin: 0 auto;
}
*/	
.center {
text-align: center;
}

.mini-line {
border: 0;
border-top: #3e3d36 solid 2px;
margin: 0;
padding: 0;
}

.main {
background-color: #212121;
background-image: url(/img/bg.png);
}

.separ {
border: 0;
max-width: 50%;
border-bottom: #3e3d36 solid 1px;
border-top: #1f1f1a solid 1px;
margin: 5px auto;
padding: 0;
}
.block_zero {
padding: 5px;
}
.bold {
font-weight: 700;
}

li, ul {
list-style: square;
margin: 0 0 0 10px;
padding: 1px;
}
/*
#enter_login,#enter_password {
font-size: 24px;
}

span.prefix{font-size: 24px;}
*/