.exp.progress{
	border-radius: 0;
}
.progress{
	margin: 0;
	margin-top: 2px;
	border-radius: 0;
}
.hp{
	border-radius: 3px;
}
.mp{
	border-radius: 3px;
}
.hp_mp{
	padding: 15px 0;
}
.baffs{
	padding: 15px 5px;
}
.baffs img{
	width:30px;
	height: 30px;
	margin-left: 5px;
}
.off-canvas{
	padding-top:15px;
}