.row
	.row.center.main
		.allwrap
			.row.top-block
				.col-md-3.col-xs-3
				.col-md-7.col-xs-7.characters
					h3 Выбор персонажа
				.col-md-2.col-xs-2
					button(type="button").btn.btn-primary#off-canvas-btn
						span.glyphicon.glyphicon-align-justify
			.row
				.col-md-6.col-xs-12.character
					.character_wrap
						.row
							.col-xs-4
								img(src="img/warrior.jpg")
							.col-xs-5.tags 
								span.label.label-default 29
								span.label.label-default Воин
								span.label.label-default Паладин
								br
								span.label.label-default Разбойник
								span.label.label-default Мертв
							.col-xs-3
								button(type="button").btn.btn-primary
									span.glyphicon.glyphicon-log-in
				.col-md-6.col-xs-12.character
					.character_wrap
						.row
							.col-xs-4
								img(src="img/warrior.jpg")
							.col-xs-5.tags 
								span.label.label-default 29
								span.label.label-default Воин
								span.label.label-default Паладин
								br
								span.label.label-default Разбойник
								span.label.label-default Мертв
							.col-xs-3
								button(type="button").btn.btn-primary
									span.glyphicon.glyphicon-log-in
				.col-md-6.col-xs-12.character
					.character_wrap
						.row
							.col-xs-4
								img(src="img/warrior.jpg")
							.col-xs-5.tags 
								span.label.label-default 29
								span.label.label-default Воин
								span.label.label-default Паладин
								br
								span.label.label-default Разбойник
								span.label.label-default Мертв
							.col-xs-3
								button(type="button").btn.btn-primary
									span.glyphicon.glyphicon-log-in