doctype html
html
	head
		title Ligmar - best game in the WORLD!!!!
		meta(name="viewport" content="width=device-width, initial-scale=1")
	
	body
		.row 
			.small-12.medium-6.columns ПРИВЕТ, #{login}