.row
	.row.center.main
		.row#top
			.col-xs-3
				.progress
					.progress-bar.progress-bar-danger#health
				.progress
					.progress-bar#mana
			.col-xs-7.baffs
				img(src="img/warrior.jpg")
				img(src="img/warrior.jpg")
				img(src="img/warrior.jpg")
				img(src="img/warrior.jpg")
				img(src="img/warrior.jpg")
			.col-xs-2
				button(type="button").btn.btn-primary#off-canvas-btn
					span.glyphicon.glyphicon-align-justify
		.exp1
			.exp-bar
		.exp_amount 300exp