extends layout
block title
	| Выбор персонажа

block content
		.row.center.main
				.row
					.col-md-6.col-xs-12.character
						.character_wrap
							.row
								.col-xs-4
									img(src="../img/warrior.jpg")
								.col-xs-5.tags 
									span.label.label-default 29
									span.label.label-default Воин
									span.label.label-default Паладин
									br
									span.label.label-default Разбойник
									span.label.label-default Мертв
								.col-xs-3
									button(type="button").btn.btn-primary
										span.glyphicon.glyphicon-log-in
					.col-md-6.col-xs-12.character
						.character_wrap
							.row
								.col-xs-4
									img(src="../img/warrior.jpg")
								.col-xs-5.tags 
									span.label.label-default 29
									span.label.label-default Воин
									span.label.label-default Паладин
									br
									span.label.label-default Разбойник
									span.label.label-default Мертв
								.col-xs-3
									button(type="button").btn.btn-primary
										span.glyphicon.glyphicon-log-in
					.col-md-6.col-xs-12.character
						.character_wrap
							.row
								.col-xs-4
									img(src="../img/warrior.jpg")
								.col-xs-5.tags 
									span.label.label-default 29
									span.label.label-default Воин
									span.label.label-default Паладин
									br
									span.label.label-default Разбойник
									span.label.label-default Мертв
								.col-xs-3
									button(type="button").btn.btn-primary
										span.glyphicon.glyphicon-log-in