doctype html
html
	head
		title Ligmar - best game in the WORLD!!!!
		link(rel="icon" type="image/x-icon" href="../favicon.ico")
		link(href='../css/bootstrap.css' rel='stylesheet')
		link(href='../css/game/main.css' rel='stylesheet')
		link(href='../css/characters_choice.css' rel='stylesheet')
		script(src='../js/jquery-2.1.4.js' type='text/javascript')
		script(src='../js/bootstrap.min.js' type='text/javascript')
		script(src='https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit' type='text/javascript' async defer)

		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		//Шапка с меню
		
		
		//Центральный блок
		block content

		//Футер
		include ../../footer