
.row
	.row.center.main
		h2 Зион
		.row.placeimg
			img(src="/img/city.png")
		h3 Сражения
		.row.battle
			.col-md-6.col-xs-6
				button(type="button").btn.btn-lg.btn-block.locationbtn Локации
			.col-md-6.col-xs-6
				button(type="button").btn.btn-lg.btn-block.arenabtn Арена
		h3 Город
		.row.city
			.col-md-4.col-xs-4
				button(type="button").btn.btn-lg.btn-block.citybtn Старейшина
			.col-md-4.col-xs-4
				button(type="button" disabled="disabled").btn.btn-lg.btn-block.citybtn Торговец
			.col-md-4.col-xs-4
				button(type="button").btn.btn-lg.btn-block.citybtn Искатель
		.row.city
			.col-md-4.col-xs-4
				button(type="button" disabled="disabled").btn.btn-lg.btn-block.citybtn Кузнец
			.col-md-4.col-xs-4
				button(type="button").btn.btn-lg.btn-block.citybtn Портной
			.col-md-4.col-xs-4
				button(type="button").btn.btn-lg.btn-block.citybtn Ремесленник